<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                                   
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/41781730?query=java%20Odessa">Android developer (Kotlin)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Цитрус</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/41748040?query=java%20Odessa">QA Automation Trainee</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/41850950?query=java%20Odessa">Java Developer + AWS</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/41850916?query=java%20Odessa">Senior Java Developer with Kotlin Experience (Delivery System)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/41816775?query=java%20Odessa">Middle Java Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/41816856?query=java%20Odessa">Senior Java Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/41850906?query=java%20Odessa">Full Stack (Java+React.js) Developer / Team Lead</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/41749837?query=java%20Odessa">Scala Developer (Banking App)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/41816770?query=java%20Odessa">Python Developer (Media Conglomerate)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/41849711?query=java%20Odessa">Middle JavaScript Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/41817038?query=java%20Odessa">DevOps (Azure) Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/41850978?query=java%20Odessa">Middle Java Engineer (Online Retailer)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/41779361?query=java%20Odessa">Regular QA Automation Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/41850959?query=java%20Odessa">Senior Java Engineer (Online Retailer)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/41817048?query=java%20Odessa">DevOps (GCP) Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/41817025?query=java%20Odessa">DevOps Engineer (E-Commerce)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/41817055?query=java%20Odessa">DevOps Engineer with AWS Experience (Internal Project)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/41850996?query=java%20Odessa">Senior BigData Engineer (Financial Software Solutions)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/41849409?query=java%20Odessa">React Native Developer (Health App)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/41660911?query=java%20Odessa">DevOps / Infrastructure and Tools Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Intetics Co</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/41817530?query=java%20Odessa">Middle DevOps Engineer with Azure (Financial Systems)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/41849944?query=java%20Odessa">Senior JavaScript Developer / Team Lead (Online Retailer)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/41816897?query=java%20Odessa">Intersystems Cache Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/41849823?query=java%20Odessa">Translator / Code Analyzer Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/41817544?query=java%20Odessa">Cloud Engineer (Online Retailer)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/41906378?query=java%20Odessa">Full Stack PHP Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Khaet.digital</td> 
     <td class="salary">1&nbsp;000-1&nbsp;600 EUR</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/41661040?query=java%20Odessa">Android Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Intetics Co</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/41849821?query=java%20Odessa">Front-End (Angular) Developer (Fintech Solutions)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/41849905?query=java%20Odessa">Front-End (Angular) Engineer (Subscription Management Solutions)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/41849092?query=java%20Odessa">Middle Database Developer (Global Music Company)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/41749710?query=java%20Odessa">Solutions Architect</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/41850940?query=java%20Odessa">Java Developer (Digital Trade Solutions)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/41816934?query=java%20Odessa">Data Analytics Senior Engineer (Investment Management Solutions)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/41748930?query=java%20Odessa">Team lead / React, Node.JS Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Coelix</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>